/* CSS RESET */
html,
body {
    width: 100%;
    height: 100%;
}

html {
    overflow-y: scroll;
    font-size: 10px;
    font: inherit;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button {
    margin: 0;
    padding: 0;
    border: 0;
    color: #333;
}

header,aside,article,nav,main,section,details,figcaption,figure,footer,hgroup,menu {
    display: block;
}

img,fieldset,iframe {
    border: 0 none
}

input,select,button {
    vertical-align: middle;
}

img {
    max-width: 100%;
}

label,button {
    cursor: pointer
}

button {
    margin: 0;
    padding: 0;
    background-color: transparent
}

a {
    text-decoration: none;
    color: #333
}

option {
    padding-right: 6px
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

ol,ul {
    list-style: none
}

header {
    position: fixed;
    width: 100%;
    height: 37px;
    background-color: #189159;
    box-shadow: 0px 2px 2px #282828;
    z-index: 999;
}

header #logo {
    position: absolute;
    left: 24px;
    line-height: 36px;
}

header #logo h1 {
    font-size: 18px;
    color: #fff;
}
header #clock {
    position: absolute;
    top: 7px;
    right: 12px;
    background-color: #147B4B;
    width: 100px;
    height: 25px;
    box-shadow: 0px 1px 2px #555 inset;
    border-radius: 16px;
    text-align: center;
}
header #clock span {
    color: white;
}

nav {
    position: fixed;
    top: 37px;
    width: 100%;
    height: 40px;
    background: -webkit-linear-gradient(#4e4e4e, #2E2E2E);
    background: linear-gradient(#4e4e4e, #2E2E2E);
    line-height: 40px;
    z-index: 900;
}

nav .navSpliter {
    display: inline;
    height: 50%;
    margin: 0 4px;
    margin-top: 11px;
    border-right: 1px solid #111;
    float: right;
}

nav span {
    color: white;
    font-size: 12px;
}

nav button {
    float: left;
    width: 40px;
    height: 100%;
    text-align: center;
    color: white;
	background-repeat: no-repeat;
	background-size: 25px 25px;
	background-position: center;
}
nav #muteBtn {
	background-image: url(../image/sound_on.png);
}
nav #cameraPauseBtn {
	background-image: url(../image/video_on.png);
}
nav #changeLayer {
	background-image: url(../image/layer.png);
}
nav #settingBtn {
	background-image: url(../image/setting.png);
}
nav button:hover {
    background-color: #2E2E2E;
}

nav > div {
    box-sizing: border-box;
    position: relative;
    float: left;
    padding: 0px 4px;
    text-align: center;
}

nav #client {
    width: 300px;
    border-right: 1px solid #111;
}

nav #client #myInfo {
    float: left;
    padding-left: 20px;
}

nav #client #cameraPauseBtn {
    float: right;
}

nav #client #muteBtn {
    float: right;
}

nav #fileIO {
    min-width: 80px;
}

nav #canvasControl {
    min-width: 205px;
}

nav #canvasControl .navSpliter {
    float: left;
}

nav #setting {
    float: right;
}

/* main */
main {
	position: relative;
	top: 77px;
	width: 100%;
	height: 618px;
}

#indexPage #classBtn {
    margin-top: 300px;
    margin-left: 300px;
    width: 200px;
    height: 80px;
    border-radius: 12px;
    background-color: #189159;
    font-size: 24px;
    color: white;
}

main > section {
    position: relative;
    float: left;
    box-sizing: border-box;
}


#communicationArea {
    width: 260px;
    height: 100%;
	padding-left: 12px;
	padding-right: 6px;
}
#communicationArea > div {
	border: 1px solid #b8b8b8;
	border-radius: 6px;
	margin-top: 10px;
	background-color: white;
	box-sizing: border-box;
}

/* 화상 비디오 */
#communicationArea #videos {
    position: relative;
    width: 100%;
    height: 202px;
	overflow-y: auto;
}

#communicationArea #videos video {
    float: left;
    width: 120px;
    height: 100px;
}

#communicationArea #localVideo {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
}

/* 접속자 리스트 */
#communicationArea #users {
    width: 100%;
    height: 137px;
	padding: 5px;
	font-weight: 600;
}
#communicationArea .moduleHead {
    width: 100%;
    height: 38px;
    padding: 0 10px;
    line-height: 38px;
    box-sizing: border-box;
	font-size: 14px;
	color: #666;
	font-weight: 600;
}
#communicationArea #users ul {
    border-top: 1px solid #b8b8b8;
	padding: 0 10px;
	font-size: 12px;
	height: 85px;
	overflow-y: auto;
}
#communicationArea #users li {
	height: 40px;
	line-height: 40px;
	color: #666;
}

/* 채팅 */
#communicationArea .chat {
	width: 100%;
	height: 250px;
	padding: 2px 7px;
}
#communicationArea .chat .messages {
	height: 140px;
	overflow-y: auto;
	padding: 12px 5px 12px 5px;
	border: 1px solid #b8b8b8;
}

#communicationArea .chat .username {
    float: left;
    font-weight: 700;
    overflow: hidden;
    padding-right: 15px;
    text-align: right;
}
#communicationArea .chat .chatInput {
	width: 100%;
	padding-top: 8px;
}
#communicationArea .chat .inputMessage {
	width: 170px;
	height: 25px;
	border-radius: 2px;
	border: 1px solid #ccc;
	text-indent: 10px;
}
#communicationArea .chat .chatInput button {
	width: 48px;
	height: 25px;
	background-color: #189159;
	color: white;
	font-size: 10px;
	font-weight: 600;
	border-radius: 3px;
	box-shadow: inset 1px 1px 1px #ddd;
}

#canvasArea {
    width: 730px;
    height: 100%;
	padding: 10px 0 0 6px;
}
#canvasArea #tabNav {
	position: relative;
	width: 100%;
	height: 22px;
	z-index: 300;
}
#canvasArea #tabNav li {
	position: relative;
    float: left;
    width: 10%;
}
#canvasArea #tabNav .tabBtn {
    width: 100%;
    height: 22px;
    line-height: 22px;
	border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #fff;
    border: 1px solid #b8b8b8;
    border-bottom: none;
    color: #555;
	text-align: left;
	text-indent: 12px;
}
#canvasArea #tabNav #plusTab .tabBtn {
	text-align: center;
	text-indent: 0px;
}
#canvasArea #tabNav .delTab {
	position: absolute;
	right: 4px;
	top: 3px;
	width: 15px;
	height: 15px;
	color: #555;
}
#canvasArea #tabNav .tabBtn:hover {
    background-color: #bbb;
}
#canvasArea #addTab {
    width: 92px;
    height: 107px;
    border: 1px solid #999;
    background-color: #fff;
	display: none;
}

#canvasArea #addTab button {
    margin: 5px 10px;
    width: 80%;
    height: 25px;
    background-color: #43A047;
	font-size: 12px;
    color: white;
}

#canvasArea #tabs {
    position: relative;
	top: -1px;
    width: 100%;
    height: 588px;
    background-color: #fff;
    border: 1px solid #b8b8b8;
	padding: 5px;
	box-sizing: border-box;
}

#canvasArea #tabs .tab {
    position: absolute;
    width: 712px;
    height: 577px;
}
#canvasArea .tab .layerControl {
	position: absolute;
	width: 100%;
	bottom: 6px;
	z-index: 200;
}
#canvasArea .tab .layerControl input {
	float: left;
	margin-left: 10px;
	width: 70%;
	height: 25px;
	text-indent: 10px;
}
#canvasArea .tab .layerControl button {
	float: left;
	margin: 0px 15px;
	width: 80px;
	height: 25px;
	color: white;
	background-color: #189159;
	font-size: 12px;
	font-weight: 600;
	border-radius: 3px;
	box-shadow: inset 1px 1px 1px #ddd;
}
#canvasArea .textbook .iframeContainer {
    position: absolute;
    width: 100%;
    height: 100%;
	z-index: 50;
	overflow: auto;
}
#canvasArea .textbook .iframeContainer iframe {
	width: 100%;
	height: 698px;
	overflow: auto;
}
#canvasArea .shareScreen video {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: auto;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
    text-align: center;
    line-height: 28px;
}

footer span {
    font-size: 10px;
    color: #aaa;
}